// Body
$body-bg: #f8fafc;

//Colors


// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//Links
$link_color:#505458;
/* $theme-colors: (
  "primary": #2468a3,
  "danger": #ee5d0a,
  "secondary":#797979,
  "warning": #ffd622
); */
