// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons';

// Customization
.navbar{
    padding:0;
}
#top-nav {
    i{
        height: 30px;
        font-size: 25px;
        margin: auto;
        display: block;
        text-align: center;
    }
    .nav-item{
        min-width:75px;
        text-align:center;
        :hover{
            background-color:$gray-200;
        }
       .nav-link{
        margin-right:0.5rem;
        color:$gray-700;
    }
    }

}
#reader {
    p{
        font-weight: 700;
        margin-bottom:0;
        span{
            font-weight: 400;
        }
    }
}
.badge:hover{
    cursor:pointer;
}
//Forms
.form-label{
    margin-top:0.5rem;
    margin-bottom:0.125rem;
}

