// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-icons/font/bootstrap-icons';

//Bootstrap customization
.alert{
    padding:.2rem;
    border:none;
    ul{
        margin-bottom:0;
        li{
            list-style-type: none;
        }
    }
}

// Customization
.navbar{
    padding:0;
}
#top-nav {
    i{
        height: 30px;
        font-size: 25px;
        margin: auto;
        display: block;
        text-align: center;
    }
    .nav-item{
        min-width:75px;
        text-align:center;
        :hover{
            background-color:$gray-200;
        }
       .nav-link{
        margin-right:0.5rem;
        color:$gray-700;
    }
    }

}
#reader {
    p{
        font-weight: 700;
        margin-bottom:0;
        span{
            font-weight: 400;
        }
    }
}
.badge:hover{
    cursor:pointer;
}
//Forms
.form-label{
    margin-top:0.5rem;
    margin-bottom:0.25rem;
    padding-left:.25rem;
}
textarea.form-control{
    border-radius:12px;
}
.autocomplete{
    z-index:100;
}
.tag-container {
    input[type=text]{
        border:none;
        &:focus-visible{
        outline:none;
    }

    }
}

.form-switch .form-check-input{
    width:2.5em;
    height:1.5em;
    margin-left:-1em;
}
.form-check-input:checked {
    background-color:$gray-900;
    border-color: $gray-900;
}

